@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200&display=swap');
.onest-uniquifier {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}

body{
    font-family: "Onest", sans-serif;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.5);
    color: white;
    /* From https://css.glass */
    background: rgba(0, 0, 0, .75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border: 2px solid rgba(255, 255, 255, 0.24);
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;
}

a{
    width: auto;
    margin: 1.5vh;
    padding: 1vh;
    font-size: 2vh;
}

.btn-custom {
    background-color: #535481;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid #535481;
    text-decoration: none;
}
.btn-custom:hover {
    background-color: #3e3e70;
    color: white;
    border-radius: 15px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
nav{
    position: fixed;
    top: 10%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #89899e;
    transition: all 0.3s ease-in-out;
}   
td{
    margin-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    border: 1.5px solid black;
    text-align: center;
    
}

th{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: 1.5px solid black;
}
table{
    background-color: #3e3e70;
    border: 1.5px solid black;

}
.container-center{
    width: 75%;
    overflow-x: auto;
    margin-left: 25%;

}
@media screen and (max-width: 1300px) {
    .container-center{
        margin-left: 10%;
    
    } 
}
@media screen and (max-width: 700px) {
    .container-center{
        margin-left: 0%; 
    } 
}